<launch>

    <!-- Launch the rosserial node that interface ROS with Arduino -->

    <!-- Launch the controller_interface node that converts joint state messages in Arduino readable messages -->
    <group ns="niryo/arm_controller">
        <node pkg="niryo_controller" type="arm_trajectory_controller.py" name="follow_joint_trajectory" respawn="true" output="screen"/>
    </group>



</launch>