<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="niryo_one">

    <!-- Macros -->
    <xacro:macro name="default_transmission" params="number reduction">
        <transmission name="transmission_${number}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="joint_${number}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_${number}">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
                <mechanicalReduction>${reduction}</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>


    <!-- Include the robot description -->
    <xacro:include filename="$(find niryo_description)/urdf/v2/niryo_one.urdf.xacro" />

    <!-- Transmissions-->
    <xacro:default_transmission number="1" reduction="1"/>
    <xacro:default_transmission number="2" reduction="1"/>
    <xacro:default_transmission number="3" reduction="1"/>
    <xacro:default_transmission number="4" reduction="1"/>
    <xacro:default_transmission number="5" reduction="1"/>
    <xacro:default_transmission number="6" reduction="1"/>

    <!-- gazebo ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/niryo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>


</robot>